h1 {
    background-color: #8fdaec;
    font-size: 60px;
    text-align: center;
    letter-spacing: 1px;

  };

li {
  font-size: 50px;

}

h2 {
  text-align: center;
  background: #8fdaec ;
}

header.major h2 {
  position: relative;
  border-top: solid 1px #e01515;
  padding: 1em 0 0 0;
  margin: 0;
  top: -1em;
  font-size: 1.5em;
  letter-spacing: -0.025em;
}

 